body {
    background-color: #08947c;
}

.container-fluid {
    background-color: white;
}

#story {
    background-color: white;
}

#ask {
    background-color: #01977a;
}

#parentDiv {
    background-color: white;
}

#askingParentDiv {
    background-color: #b2ff9e;
}