body {
    background-color: #08947c;
}

.container-fluid {
    background-color: white;
}

#story {
    background-color: #70d6ff ;
}

#ask {
    background-color: #ff206e;
}

#parentDiv {
    background-color: #cfbaf0;
}

#askingParentDiv {
    background-color: #b2ff9e;
}